body {
    background-image: url("img/backgr.jpg");
    background-position: center;
    background-size: cover;
    
}


header {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section {
    padding-left: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.content {
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, tr, td {
    background-color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    text-decoration:solid;
}


tr {
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px;
}

